/* General styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.input-section,
.output-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-section {
  background-color: #f0f4f8;
  border-right: 1px solid #e0e0e0;
  position: relative;
}

.output-section {
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  resize: none;
  font-size: 16px;
  outline: none;
}

textarea::placeholder {
  color: #aaa;
}

textarea#outputText {
  background-color: #f8f9fa;
  margin-top: 20px;
  color: #333;
  border: 1px solid #ddd;
  height: 150px;
  font-size: 16px;
}

.btn-group {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.btn {
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  color: #ffffff;
}

.btn-encrypt {
  background-color: #007bff;
}

.btn-decrypt {
  background-color: #6c757d;
}

.btn-encrypt:hover {
  background-color: #0056b3;
}

.btn-decrypt:hover {
  background-color: #5a6268;
}

.info-text {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
  text-align: center;
}

.logo {
  font-size: 50px;
  color: #007bff;
  position: absolute;
  top: 20px;
  left: 20px;
}

.output-image {
  display: none;
  flex-direction: column;
  align-items: center;
}

.output-image img {
  width: 100px;
  margin-bottom: 20px;
}

.no-message {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.no-message-sub {
  font-size: 16px;
  color: #777;
}

.output-text {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
